.btn {
  font-family: "Poppins";
  cursor: pointer;
  border: solid white;
  border-radius: 5px;
  padding: 8px 16px;
}

/* button component styles */
.btn--primary {
  background-color: #f8f3f1;
  color: #120f0f;
}
.btn--secondary {
  background-color: #120f0f;
  color: #f8f3f1;
  font-weight: 200;
}

.btn--secondary span {
  background-image: linear-gradient(90deg, #c1922e, #f5e9b4,#ad7f2c, #fcf3af, #ad7f2c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
}
/* sizes */
.sm {
  padding: 0.6rem 1rem;
  font-size: 1rem;
}
.md {
  padding: 1rem 2rem;
  font-size: 1.5rem;
}
